<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Settings for master password. -->
		<!-- Information: current location will create password directory into "PasswordSafeConsole\bin\Debug\net5.0\" -->
		<add key="path_masterPassword" value="MASTER"/>
		<add key="name_masterPassword" value="master.pw"/>
		
		<!-- Settings for regular passwords. -->
		<!-- Information: current location will create password directory into "PasswordSafeConsole\bin\Debug\net5.0\" -->
		<add key="path_regularPasswords" value="PASSWORDS"/>
		
		<!-- Settings for encoding method. -->
		<!-- AES(0), 3DES(1), new(2) -->
		<add key="encoder" value="1"/>
	</appSettings>
</configuration>